#accessibility {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
}

#accessibility a {
	display: block;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}

#accessibility a:focus,
#accessibility a:active {
	width: 100%;
	height: auto;
	padding: 5px 0;
	background-color: #3c8200;
}

#header {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 100%;
	padding: 0 10px;
	height: 60px;
	background: #fff;
	align-items: center;

	>h1>a {
		display: block;

		>img {
			width: 220px;
			vertical-align: middle;
		}
	}
}

.gnb>nav>ul>li>a {
	color: #111;
}

.all_m_menu,
.site_menu {
	width: 50px;
	height: 50px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-image: url(/kips/images/common/btn_menu.png);
	background-position: 100% 50%;
	background-size: 20px;
}

#content {
	margin-top: 60px;
}

.con_top {
	display: flex;
	height: 50px;
	background: #f1f1f1;
	align-items: center;

	>.sub_menu {
		margin-right: auto;

		>ul {
			display: flex;

			>li {
				position: relative;

				&:first-child {
					>a {
						width: 50px;
						height: 50px;
						background: #0ea6a3 url(/kips/images/common/ico_home.png) no-repeat 50% 50%;
						background-size: 15px;
					}
				}

				&:nth-child(n+2) {
					&:not(:last-child) {
						border-right: 1px solid #fff;
					}

					&:last-child>a {
						font-weight: 400;
						color: #000;
					}

					>a {
						display: flex;
						padding: 0 40px 0 10px;
						align-items: center;
						background-image: url(/kips/images/common/ico_submenu_off.png);
						background-repeat: no-repeat;
						background-position: calc(100% - 10px) 50%;
						background-size: 10px;
					}
				}

				>a {
					display: block;
					height: 50px;

					&.open {
						font-weight: 400;
						background-color: #193e72;
						background-image: url(/kips/images/common/ico_submenu_on.gif);
						color: #fff !important;
					}
				}

				>ul {
					display: none;
					position: absolute;
					left: 0;
					top: 50px;
					z-index: 100;
					width: 100%;
					padding: 16px 8px;
					border-style: solid;
					border-width: 0 1px 1px 1px;
					border-color: #193e72;
					background: #fff;
					box-shadow: 2px 0 5px -1px #ababab;

					>li {
						&:not(:last-child) {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	>.share {
		display: none;
		margin-left: auto;

		>ul {
			display: flex;

			>li {
				&:not(:last-child) {
					margin-right: 30px;
				}

				img {
					vertical-align: middle;
				}
			}
		}
	}
}

.con_body {
	padding: 0 10px 55px;

	>.tit_box {
		position: relative;
		padding: 35px 0 17px;
		border-bottom: 1px solid #bbb;

		>h2 {
			line-height: 1;
			font-weight: 700;
			font-size: 24px;
			color: #222;
		}

		>button {
			position: absolute;
			right: 0;
			bottom: 17px;
			width: 26px;
			height: 26px;
			background: url(/kips/images/common/btn_sns.png) no-repeat 0 0;
			background-size: 26px;

			&.open+.share {
				display: block;
			}
		}

		>.share {
			display: none;
			position: absolute;
			right: 0;
			top: 68px;
			z-index: 10;
			border: 1px solid #d8d8d8;
			border-radius: 5px;
			background: #f0f4f6;

			>ul {
				padding: 10px;

				>li {
					text-align: center;

					&:not(:first-child) {
						margin-top: 13px;
					}

					&:nth-child(n+4) {
						display: none;
					}
				}
			}
		}
	}

	>.sub_con {
		margin-top: 30px;
	}
}

#footer {
	>.quick_banner {
		display: none;
	}

	>.footer_inner {
		padding: 25px;
		background: #2b2b2b;
		text-align: center;

		>.f_logo {
			>img {
				width: 90px;
			}
		}

		>.f_info {
			>ul {
				display: none;
			}

			>address {
				margin: 17px 0 5px;
				line-height: 1.6;
				font-size: 12px;
				color: #999;

				>.txt_add {
					display: block;
				}

				>.txt_phone {
					margin-right: 10px;
				}

				strong {
					font-weight: 500;
					color: #999;
				}
			}

			>small {
				color: #aaa;
			}
		}

		>select {
			display: none;

			>option {
				color: #222;
			}
		}
	}
}

@media screen and (max-width: 1216px) {
	.gnb {
		position: fixed;
		top: 0;
		left: -100%;
		width: calc(100% - 60px);
		height: 100%;
		transition: left .5s ease;
		-webkit-transition: left .5s ease;
		background: #fff;

		&.open {
			left: 0;

			&::before {
				content: '';
				position: fixed;
				left: 0;
				top: 0;
				z-index: -1;
				width: 100vw;
				height: 100%;
				background: rgba(0, 0, 0, .3);
			}
		}

		>.gnb_top {
			display: flex;
			height: 60px;
			padding-left: 10px;
			border-bottom: 1px solid #d9d9d9;
			background: #fff;
			align-items: center;

			>img {
				width: 160px;
			}
		}

		>nav {
			height: calc(100vh - 60px);
			overflow-y: auto;
			background: #fff;

			>ul>li {
				border-bottom: 1px solid #d9d9d9;

				>ul {
					display: none;
					padding: 13px 15px;
					background: #f8f8f8;

					>li {

						&:not(:last-child) {
							margin-bottom: 6px;
						}

						>a {
							position: relative;
							padding-left: 9px;
							font-size: 14px;

							&::before {
								content: '';
								position: absolute;
								left: 0;
								top: 8px;
								width: 4px;
								height: 4px;
								border-radius: 50%;
								background: #999;
								transition: .3s ease;
							}

							&::after {
								content: '';
								position: absolute;
								left: 8px;
								bottom: -2px;
								width: 0;
								height: 1px;
								background: #0ea6a3;

							}

							&:hover,
							&:focus {
								font-weight: 400;
								color: #0ea6a3;

								&::before {
									background: #0ea6a3;
								}

								&::after {
									width: 100%;
									transition: .3s ease;
								}
							}
						}
					}
				}

				&.no-depth {
					>a {
						background: transparent;
					}
				}

				>a {
					display: block;
					position: relative;
					padding: 13px 50px 13px 20px;
					background: url(/kips/images/common/icon_gnb_off_arrow.png) no-repeat right 20px top 50%;
					background-size: 15px;
					font-size: 16px;
					font-weight: 500;

					&.on {
						color: #0ea6a3;
						background-image: url(/kips/images/common/icon_gnb_off_arrow_active.png);
					}

					&.on+ul {
						display: block;
					}
				}
			}
		}

		>button {
			position: absolute;
			right: -60px;
			top: 0;
			width: 60px;
			height: 60px;
			background: #193e72 url(/kips/images/common/btn_gnb_close.png) no-repeat 50% 50%;
			background-size: 20px;
		}
	}

	.gnb_layer {
		display: none;
	}

	.all_m_menu {
		display: block;
	}

	.site_menu {
		display: none;
	}
}

@media screen and (min-width: 1217px),
print {
	body {
		font-size: 16px;
	}

	#header {
		position: relative;
		height: 110px;
		padding: 0 30px;

		>h1>a {
			>img {
				width: auto;
			}
		}
	}

	.gnb {
		//margin-left: auto;
		flex: 1;
		height: 110px;
		padding-right: 10vw;

		>.gnb_top {
			display: none;
		}

		>nav>ul {
			display: flex;
			justify-content: end;

			>li {
				&:nth-child(1) {
					margin-right: 6vw;
				}

				&:nth-child(2) {
					margin-right: 8vw;
				}

				&:nth-child(3) {
					margin-right: 8vw;
				}

				>a {
					display: flex;
					position: relative;
					height: 110px;
					align-items: center;
					font-weight: 500;
					font-size: 20px;

					&:before {
						content: '';
						position: absolute;
						left: 50%;
						top: 27px;
						width: 8px;
						height: 8px;
						margin-left: -4px;
						border-radius: 50%;
						background: #0ea6a3;
						transform: scale(0);
						transition: .3s ease;
					}

					&:hover,
					&:focus,
					&.on {
						&::before {
							transform: scale(1);
						}

						&+ul {
							background: #f8f8f8;
						}

					}
				}

				>ul {
					display: none;
					position: absolute;
					top: 109px;
					z-index: 100;
					//width: 12vw;
					width: 232px;
					height: 273px;
					padding-top: 35px;
					border-style: solid;
					border-width: 1px 1px 0 1px;
					border-color: #d9d9d9;
					transition: .3s ease;
					background: #fff;

					>li {
						text-align: center;

						&:not(:last-child) {
							margin-bottom: 20px;
						}

						>a {
							display: inline-block;
							position: relative;
							text-align: center;

							&::before {
								content: '';
								position: absolute;
								left: 0;
								bottom: -2px;
								width: 0;
								height: 1px;
								background: #0ea6a3;
								transition: .3s ease;
							}

							&:hover,
							&:focus {
								&::before {
									width: 100%;
								}

								font-weight: 400;
								color: #0ea6a3;
							}
						}
					}
				}

				&:nth-child(1) ul {
					right: 852px
				}

				&:nth-child(3) ul {
					right: 391px
				}

				&:nth-child(4) ul {
					right: 160px
				}
			}
		}

		>button {
			display: none;
		}
	}

	.gnb_layer {
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 109px;
		height: 274px;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		background: #fff url(/kips/images/main/bg_gnb.jpg) no-repeat 261px 100%;

		>p {
			position: absolute;
			left: 30px;
			top: 70px;
			font-weight: 500;
			font-size: 24px;

			>span {
				display: block;
				margin-top: 3px;
				color: #134ea5;
			}
		}
	}

	.all_m_menu {
		display: none;
	}

	.site_menu {
		width: 24px;
		height: 24px;
		margin-left: 0;
	}

	#content {
		margin-top: 0;
	}

	.con_top {
		height: 66px;
		padding: 0 9vw;

		>.sub_menu {
			>ul {
				>li {
					&:first-child {
						>a {
							width: 66px;
							height: 66px;
							background-size: auto;
						}
					}

					&:nth-child(n+2) {
						&:last-child {
							border-right: 1px solid #fff;
						}

						>a {
							min-width: 280px;
							padding: 0 50px 0 20px;
							background-position-x: calc(100% - 20px);
							background-size: auto;
						}
					}

					>a {
						height: 66px;
					}

					>ul {
						top: 66px;
						z-index: 10;
						padding: 11px 20px 12px;
						border-style: solid;
						border-width: 0 1px 1px 1px;
						border-color: #193e72;

						>li {
							&:not(:last-child) {
								margin-bottom: 0;
							}

							>a {
								display: block;
								padding: 10px 0;

								&:hover,
								&:focus {
									font-weight: 400;
									color: #222;
								}
							}
						}
					}
				}
			}
		}

		>.share {
			display: block;
			margin-left: auto;

			>ul {
				display: flex;

				>li {
					&:not(:last-child) {
						margin-right: 30px;
					}

					img {
						vertical-align: middle;
					}
				}
			}
		}
	}

	.con_body {
		padding: 0 9vw 100px;

		>.tit_box {
			padding: 60px 0 0;
			border-bottom: 0;

			>h2 {
				text-align: center;
				font-size: 46px;

				&::after {
					display: block;
					content: '';
					width: 1px;
					height: 25px;
					margin: 40px auto 0;
					background: #222;
				}
			}

			>button {
				display: none;
			}
		}

		>.sub_con {
			margin-top: 40px;
		}
	}

	#footer {
		>.quick_banner {
			display: block;
			border-top: 1px solid #d8d8d8;

			>ul {
				display: flex;
				height: 70px;
				justify-content: center;
				align-items: center;

				>li {
					&:not(:last-child) {
						margin-right: 70px;
					}
				}
			}
		}

		>.footer_inner {
			display: flex;
			padding: 40px 9vw;
			text-align: left;

			>.f_logo {
				flex: none;
				padding-top: 30px;

				>img {
					width: auto;
				}
			}

			>.f_info {
				flex: 1;
				padding-left: 40px;

				>ul {
					display: flex;

					>li {
						&:not(:last-child) {
							margin-right: 18px;
						}

						>a {
							font-weight: 400;
							color: #fff;
						}
					}
				}

				>address {
					margin: 17px 0 5px;
					line-height: 1.6;
					font-size: 16px;

					>.txt_add {
						display: inline;
					}

					>.txt_phone {
						display: inline-block;
						margin: 0 15px;
					}

					>.txt_fax {
						display: inline-block;
					}
				}

				>small {
					font-size: 16px;
				}
			}

			>select {
				display: inline-block;
				width: 220px;
				height: 41px;
				background: transparent;
				border-style: none none solid;
				border-bottom: 2px solid #fff;
				background: url(/kips/images/common/ico_footer_select.png) no-repeat 100% 50%;
				font-weight: 400;
				font-size: 18px;
				color: #fff;
			}
		}


	}
}

@media print {

	#header,
	#footer,
	.con_top {
		display: none;
	}
}


//수정 2022-01-27

@media screen and (min-width:1216px) {

	.gnb_layer {
		background: #fff;

		>p {
			top: 45px;
			font-size: 0;
		}
	}

	.gnb {
		padding-right: 30px;
		transition: padding-right 0.2s ease;

		>nav {
			>ul {

				>li {
					transition: 0.3s;

					&:nth-child(1) {
						margin-right: 3vw;

						>ul {
							right: 927px;
						}
					}

					&:nth-child(2) {
						margin-right: 3vw;

						>ul {
							right: 695px;
						}
					}

					&:nth-child(3) {
						margin-right: 3vw;

						>ul {
							right: 462px;
						}
					}

					&:nth-child(4) {
						margin-right: 3vw;

						>ul {
							right: 231px;
						}
					}

					&:nth-child(5) {
						>ul {
							right: 0;
						}
					}
				}

			}
		}
	}
}

@media screen and(min-width:1400px) {
	.gnb {
		padding-right: 110px;
	}
}

@media screen and(min-width:1600px) {
	.gnb_layer {
		background: #fff url(/kips/images/main/bg_gnb.jpg) no-repeat 169px 100% / 337px 203px;

		>p {
			top: 45px;
			font-size: 24px;
		}
	}
}

@media screen and(min-width:1800px) {
	.gnb {
		padding-right: 134px;

		>nav {
			>ul {

				>li {

					&:nth-child(1) {
						margin-right: 111px;

						>ul {
							right: 1038px;
						}
					}

					&:nth-child(2) {
						margin-right: 138px;

						>ul {
							right: 806px;
						}
					}

					&:nth-child(3) {
						margin-right: 130px;

						>ul {
							right: 572px;
						}
					}

					&:nth-child(4) {
						margin-right: 155px;

						>ul {
							right: 341px;
						}
					}

					&:nth-child(5) {
						>ul {
							right: 110px;
						}
					}
				}
			}
		}
	}
}