.step_list {
	padding: 17px 20px;
	border: 3px solid #eee;

	>ul {
		>li {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}

.tbl_top {
	margin-bottom: 20px;

	>.l {
		display: none;
	}
}

.tbl_search {
	display: flex;
	border-bottom: 1px solid #222;

	input[type=text] {
		flex: 1;
		border: 0;
	}

	button {
		width: 50px;
		background: url(/kips/images/common/ico_search.png) no-repeat 100% 50%;
		background-size: 16px;
	}
}

.list_img_board {
	>ul {
		>li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			>a {
				display: block;

				&:hover {
					position: relative;
					box-shadow: -1px 5px 7px 1px #d5d5d5;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: calc(100% - 2px);
						height: calc(100% - 2px);
						border: 1px solid #222;
					}
				}

				>img {
					width: 100%;
					height: 54vw;
				}

				>.tit_date {
					padding: 20px;
					border-style: none solid solid;
					border-width: 0 1px 1px;
					border-color: #d8d8d8;

					>.txt_tit {
						margin-bottom: 10px;
						font-weight: 500;
						font-size: 15px;
						color: #222;
					}
				}
			}
		}
	}
}

.video_box {

	img {
		width: 100% !important;
	}

	>.l {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		& iframe,
		& object,
		& embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	>.r {
		height: 180px;
		overflow-y: auto;
		margin-top: 12px;
		padding: 17px;
		border: 1px solid #d8d8d8;
		word-break: break-all;
	}
}

.map_api {
	position: relative;

	.root_daum_roughmap {
		width: 100% !important;
	}

	.map_layer {
		position: absolute;
		left: 50%;
		bottom: 60px;
		z-index: 10000;
		width: calc(100% - 40px);
		transform: translateX(-50%);
		background: #fff;
		box-shadow: 2px 2px 5px 1px #ababab;

		>h3 {
			height: 44px;
			padding-left: 15px;
			background: #193e72;
			line-height: 44px;
			font-weight: 500;
			color: #fff;
		}

		>ul {
			padding: 10px;

			>li {
				overflow: hidden;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				>strong {
					float: left;
					width: 75px;
					padding: 5px 0 5px 30px;
					background-position: 0 50%;
					background-repeat: no-repeat;
					background-size: 22px;
				}

				>span {
					display: block;
					overflow: hidden;
					padding-top: 4px;
				}

				.addr {
					background-image: url(/kips/images/sub/ico_address.png);
				}

				.tel_num {
					background-image: url(/kips/images/sub/ico_tel.png);
				}
			}
		}
	}
}

.traffic_info {
	border-top: 1px solid #222;
	border-bottom: 1px solid #d8d8d8;

	.traffic_box {
		>.l {
			padding-left: 15px;
			background: #f8f8f8;
			align-items: center;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #d8d8d8;
		}
	}

	.bus {
		h4 {
			background-image: url(/kips/images/sub/img_bus.png);
		}
	}

	.metro {
		h4 {
			background-image: url(/kips/images/sub/img_metro.png);
		}
	}

	h4 {
		height: 49px;
		padding-left: 54px;
		background-position: 0 50%;
		background-repeat: no-repeat;
		background-size: 48px;
		line-height: 49px;
		font-weight: 500;
		font-size: 15px;
		color: #222;
	}

	.traffic_list {
		padding: 20px 15px;

		&:not(:last-child) {
			border-bottom: 1px solid #d8d8d8;
		}

		>p {
			margin-bottom: 5px;
			font-weight: 500;
			color: #222;
		}

		>ul+p {
			margin-top: 10px;
		}

		>.btn_find {
			margin-top: 15px;
			text-align: right;

			>a {
				display: inline-block;
				height: 32px;
				padding: 0 12px;
				line-height: 30px;
				border: 1px solid #666;

				&:after {
					display: inline-block;
					content: '';
					width: 7px;
					height: 12px;
					margin-left: 7px;
					background: url(/kips/images/sub/ico_btn_arrow.png) no-repeat 0 0;
					vertical-align: -1px;
				}
			}
		}
	}
}

.parking_caution {
	margin-top: 15px;
	color: #e53238;
}

.cheating_st4 {
	margin-bottom: 20px;
	padding-left: 12px;
	background-image: none;
}

@media screen and (max-width: 1217px) {
	.btn_infographic {
		display: block;

		>.l {
			margin-bottom: 15px;
		}

		a {
			display: block;
			padding: 0 20px;
			line-height: 37px;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (min-width: 1217px) and (max-width: 1620px) {
	.btn_infographic {
		display: block;
		text-align: center;

		>.l {
			margin-bottom: 25px;
		}

		a {
			padding: 0 20px;
		}
	}
}

@media screen and (min-width: 1217px),
print {
	.cheating_st4 {
		margin-bottom: 40px;
		padding-left: 25px;

		li::after {
			top: 12px;
		}
	}

	.step_list {
		padding: 25px 30px;
		border-width: 3px;

		>ul {
			>li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}

	.tbl_top {
		display: flex;
		align-items: flex-end;
		margin-bottom: 30px;

		>.l {
			display: block;
			margin-right: auto;
		}

		>.r {
			margin-left: auto;
		}
	}

	.tbl_search {
		display: flex;
		width: 400px;
		border-bottom-width: 2px;

		input[type=text] {
			flex: 1;
			height: 35px;
			padding-left: 0;
			border: 0;
		}

		button {
			width: 40px;
			background-position-y: 0;
			background-size: auto;
		}
	}

	.list_img_board {
		>ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -30px;

			>li {
				width: calc(33.3% - 20px);
				margin-bottom: 30px;

				&:not(:last-child) {
					margin-bottom: 30px;
				}

				&:not(:nth-child(3n)) {
					margin-right: 30px;
				}

				>a {
					>.tit_date {
						padding: 20px;

						>.txt_tit {
							height: 52px;
							overflow: hidden;
							margin-bottom: 15px;
							font-size: 20px;
						}
					}

					>img {
						height: 14.7vw;
					}
				}
			}
		}
	}

	.video_box {
		display: flex;

		img {
			width: auto !important;
		}

		>.l {
			width: 70%;
			height: 25vw;
			padding: 0;

			& iframe,
			& object,
			& embed {
				position: absolute;
				width: calc(100% - 15px);
				height: 25vw;
			}
		}

		>.r {
			width: 30%;
			height: 25vw;
			margin-top: 0;
			padding: 23px;

		}
	}

	.img_box {
		text-align: center;

		img.pc_content {
			display: inline;
			width: auto;
			max-width: 100%;
		}
	}

	.map_api {
		.map_layer {
			left: 26px;
			bottom: 60px;
			z-index: 10000;
			width: 480px;
			transform: translateX(0);

			>h3 {
				height: 70px;
				padding-left: 30px;
				line-height: 68px;
				font-size: 22px;
			}

			>ul {
				padding: 30px;

				>li {
					&:not(:last-child) {
						margin-bottom: 12px;
					}

					>strong {
						width: 98px;
						padding: 5px 0 5px 40px;
						background-size: auto;
					}

					>span {
						padding-top: 2px;
						line-height: 1.5;
					}
				}
			}
		}
	}

	.traffic_info {
		border-top-width: 2px;

		.traffic_box {
			display: flex;

			>.l {
				display: flex;
				width: 240px;
				padding-left: 0;
				justify-content: center;
				text-align: center;
			}

			>.r {
				flex: 1;
			}
		}

		h4 {
			height: auto;
			padding: 75px 0 0;
			background-position: 50% 0;
			background-size: auto;
			line-height: normal;
			font-size: 20px;
		}

		.traffic_list {
			padding: 30px 20px;
			position: relative;

			>p {
				margin-bottom: 8px;
			}

			>ul>li {
				&:not(:last-child) {
					margin-bottom: 3px;
				}

				&::after {
					top: 9px;
				}
			}

			>ul+p {
				margin-top: 13px;
			}

			>.btn_find {
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -22px;
				text-align: left;

				>a {
					height: 46px;
					padding: 0 19px;
					line-height: 44px;

					&:after {
						margin-left: 7px;
						vertical-align: 0;
					}
				}
			}
		}
	}

	.parking_caution {
		margin-top: 20px;
	}

	.btn_infographic {
		max-width: 1440px;
		margin: 30px auto 0;
	}






}


// 수정 2022-02-04
.btn_box {
	margin-top: 15px;
}

.btn {
	&.sm {
		height: 32px;
	}
}

.board_wrap {
	.board_box {
		.board {
			border: solid 3px #eee;
			padding: 132px 20px 20px 20px;
			background-repeat: no-repeat;
			background-size: 93px;
			background-position: 50% 20px;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&.bg01 {
				background-image: url(/kips/images/sub/way01.png)
			}

			&.bg02 {
				background-image: url(/kips/images/sub/way02.png)
			}

			&.bg03 {
				background-image: url(/kips/images/sub/way03.png)
			}

			h3 {
				margin-bottom: 6px;
				font-size: 16px;
				color: #222;
				font-weight: bold;
			}
		}
	}
}

.st_dot {
	display: inline-block;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		margin-right: 2px;
		width: 2px;
		height: 2px;
		background: #222;
		border-radius: 100%;
	}
}

.greeting_wrap {

	.greeting_box {

		.top {
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 40px;
				left: -10px;
				width: calc(100% + 20px);
				height: calc(100% - 90px);
				background: #f0f4fa;
				z-index: -1
			}

			&::after {
				content: '';
				display: block;
				height: 0;
				padding-bottom: calc(360 / 680 * 100%);
				background: url(/kips/images/sub/introduce0102_m.jpg) no-repeat center / contain;
			}

			.card {
				position: relative;
				margin-bottom: 30px;
				padding: 60px 28px 30px;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 200px;
					height: 110px;
					background: url(/kips/images/sub/introduce0101_01.png) no-repeat 0 0 / contain;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					width: 250px;
					height: 41px;
					background: url(/kips/images/sub/introduce0101_02.png) no-repeat 100% 100% / contain;
				}

				strong {
					display: block;
					margin-bottom: 27px;
					font-size: 19px;
					color: #222;
					font-weight: bold;
				}

				.sign {
					.name {
						margin-top: 5px;
						color: #222;
						font-size: 15px;
						font-weight: bold;
					}
				}
			}

		}

		.bottom {
			margin-top: 30px;

			.txt01 {
				margin-bottom: 5px;
			}

			p {
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
	}
}

.img_box {
	&.line {
		position: relative;
		padding: 0 35px 40px;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 80vw;
			height: 110px;
			background: #dce5f2;
			left: -10px;
			bottom: 0;
			z-index: -1;
		}
	}

	&.padding {
		padding: 0 60px
	}
}

.year_wrap {

	.year_data {
		margin-top: 30px;
		position: relative;
		padding: 40px 20px 76px 0;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 110px;
			background: url(/kips/images/sub/introduce0201_m.png) no-repeat top right / contain;
			top: 0;
			right: 0;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 40px;
			background: url(/kips/images/sub/introduce0202_m.png) no-repeat bottom left / contain;
			bottom: 0;
			left: 0;
		}

		>h3 {
			color: #ddd;
			font-size: 36px;
			font-weight: bold;
		}

		.year_list {
			margin-top: 15px;

			>li {
				overflow: hidden;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				&:nth-child(odd) {
					.l {
						color: #13a7a4;
					}
				}

				&:nth-child(even) {
					.l {
						color: #193e72;
					}
				}

				.l {
					margin-right: 20px;
					float: left;
					font-size: 15px;
					font-weight: bold;
				}

				.r {
					line-height: 19.5px;
					overflow: hidden;
				}
			}
		}
	}
}

.card_wrap {
	margin-top: 30px;

	.card {
		padding: 15px 20px;
		border: solid 1px #d8d8d8;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		.top {
			padding-bottom: 12px;
			border-bottom: solid 1px #d8d8d8;
		}

		.info_li {
			>li {
				display: inline-block;
				position: relative;

				&:not(:last-child) {
					margin-right: 21px;

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						margin-top: -7px;
						right: -13px;
						width: 1px;
						height: 15px;
						background: #d8d8d8;
					}
				}

				&.center {
					color: #0ea6a3;
					font-weight: 400;
				}

			}
		}

		.name {
			display: block;
			margin-top: 7px;
			color: #222;
			font-weight: bold;
			font-size: 17px;
		}

		.bottom {
			padding-top: 17px;
		}
	}
}

.info_li02 {
	>li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		padding-left: 30px;
		background-repeat: no-repeat;
		background-size: 20px;
		background-position: top left;
		line-height: 20px;

		&:nth-child(1) {
			background-image: url(/kips/images/sub/ico_introduce0301.png);
		}

		&:nth-child(2) {
			background-image: url(/kips/images/sub/ico_introduce0302.png);
		}
	}
}

.btm_btn_box {
	&.txt_c {
		justify-content: center;
	}
}


@media screen and (min-width:768px) {
	.greeting_wrap {
		.greeting_box {
			.top {

				&::after {
					padding: 0;
					width: 680px;
					height: 360px;
					margin-left: auto;
				}

				.card {
					width: 768px;

				}

			}
		}
	}
}


@media screen and (min-width:1217px),
print {
	.w_1440 {
		max-width: 1440px;
		margin: 0 auto;
	}

	.section {
		&.w_1440 {
			margin: 50px auto 0;
		}
	}

	.mt0 {
		margin-top: 0 !important;
	}

	.btn {
		&.sm {
			height: 46px;
		}
	}

	.board_wrap {
		.board_box {
			.board {
				position: relative;
				border: solid 4px #eee;
				display: table;
				width: 100%;
				padding: 0 223px 0 196px;
				background-size: auto;
				background-position: 40px 50%;
				text-align: left;
				min-height: 194px;

				&:not(:last-child) {
					margin-bottom: 20px;
				}

				.tbl_cell {
					display: table-cell;
					vertical-align: middle;
				}

				h3 {
					margin-bottom: 13px;
					font-size: 22px;
				}

				.st_dot {
					margin-top: 3px;
				}

				.btn_box {
					position: absolute;
					top: 50%;
					right: 40px;
					margin-top: -23px;
				}
			}
		}
	}

	.st_dot {

		&::before {
			width: 3px;
			height: 3px;
		}
	}


	.greeting_wrap {

		.greeting_box {

			.top {

				&::before {
					top: 76px;
					left: -9vw;
					width: 100vw;
					height: 330px;
				}

				&::after {
					position: absolute;
					bottom: 50px;
					right: 0;
					width: 540px;
					height: 322px;
					background-image: url(/kips/images/sub/introduce0102.jpg);
				}

				.card {
					position: relative;
					margin-bottom: 0;
					padding: 120px 57px 54px;
					width: calc(100% - 620px);
					margin-right: 80px;
					overflow: hidden;

					&::before {
						width: 430px;
						height: 205px;
					}

					&::after {
						width: 630px;
						height: 80px;
					}

					strong {
						margin-bottom: 50px;
						font-size: 28px;
					}

					.sign {
						.name {
							margin-top: 8px;
							font-size: 20px;
						}
					}
				}

			}

			.bottom {
				margin-top: 45px;
				overflow: hidden;

				.txt01 {
					float: left;
					width: calc(50% - 37.5px);
					margin-bottom: 0;
					margin-right: 75px;
				}

				.txt02 {
					float: left;
					width: calc(50% - 37.5px);
				}

				p {
					&:not(:last-child) {
						margin-bottom: 14px;
					}
				}
			}
		}
	}


	.year_wrap {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		.img_box {
			&.line {
				display: inline-block;
				width: calc(50% - 42px);
				padding: 0 82px 70px 62px;
				margin-right: 80px;
				vertical-align: top;

				>img {
					width: 540px;
				}

				&::after {
					width: 100%;
					height: 220px;
					left: -9vw;
				}
			}
		}

		.year_data {
			margin-top: 0;
			padding: 70px 30px 144px 0;
			display: inline-block;
			width: calc(50% - 42px);
			vertical-align: top;

			&::before {
				height: 205px;
				background-image: url(/kips/images/sub/introduce0201_pc.png);
				z-index: -1;
			}

			&::after {
				height: 80px;
				background-image: url(/kips/images/sub/introduce0202_pc.png);
				z-index: -1;
			}

			>h3 {
				font-size: 60px;
			}

			.year_list {
				margin-top: 20px;

				>li {


					&:not(:last-child) {
						margin-bottom: 17px;
					}

					&:nth-child(odd) {
						.l {
							color: #13a7a4;
						}
					}

					&:nth-child(even) {
						.l {
							color: #193e72;
						}
					}

					.l {
						margin-right: 45px;
						font-size: 20px
					}

					.r {
						line-height: 26px;
					}
				}
			}
		}
	}

	.card_wrap {
		margin-top: 50px;
		overflow: hidden;

		.card {
			padding: 25px 30px;
			width: calc(50% - 15px);
			height: 264px;
			float: left;

			&:not(:last-child) {
				margin-bottom: 0;
				margin-right: 30px;
			}

			.top {
				padding-bottom: 20px;
			}

			.info_li {
				>li {

					&:not(:last-child) {
						margin-right: 30px;

						&:after {
							margin-top: -8px;
							right: -15px;
							height: 18px;
						}
					}
				}
			}

			.name {
				margin-top: 11px;
				font-size: 24px;
			}

			.bottom {
				padding-top: 25px;
			}
		}
	}

	.info_li02 {
		>li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}

			padding-left: 42px;
			background-size: auto;
			line-height:normal;
			min-height:32px;
			display:flex;
			align-items:center;

			&:nth-child(1) {
				background-image: url(/kips/images/sub/ico_introduce0301.png);
			}

			&:nth-child(2) {
				background-image: url(/kips/images/sub/ico_introduce0302.png);
			}
		}
	}


}

@media screen and (min-width:1440px) {
	.greeting_wrap {

		.greeting_box {

			.top {
				padding-bottom: 50px;

			}

		}
	}

}